.main {
  background-color: var(--bg-01);
  grid-area: content;
}

.main header {
  background-color: var(--black-01);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
}

.main img {
  margin-left: 10px;
}

.main ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 10px;
  gap: 3rem;
}

.main ul li {
  color: var(--white-01);
  list-style: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.main ul:first-child {
  position: absolute;
}

.main ul li > div {
  position: relative;
  border-bottom: 1px solid transparent;
  transition: .3s;
}

.main ul li > div:hover {
  border-bottom: 1px solid var(--white-01);
}

.main ul li:last-child {
  padding: 10px 20px;
  border: 2px solid var(--orange);
  border-radius: 8px;
  transition: .3s;
}

.main ul li:last-child:hover {
  background-color: var(--orange);
}
