.menu {
    background-color: var(--menu-color);
    grid-area: menu;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 15px;
    height: 100vh;
}

.menu img {
    max-width: 20rem;
    max-height: 20rem;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav ul li {
    list-style: none;
}