.link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 5px 20px;
    color: var(--white-01);
    display: block;
    width: 200px;
    transition: 0.3s;
}

.link:hover {
    color: var(--orange);
}

.active {
    color: var(--orange);
}
