.page {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    overflow-y: scroll;
}

.description h3 {
    font-size: 3rem;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.244);
}

.description h4 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.details p,
.details span,
.details li {
    font-size: 1.6rem;
}

.details span {
    font-weight: 500;
}


.details li {
    list-style: circle;
}

.sidebar {
    border-radius: 10px;
    box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.08);
    padding: 10px;
}

.calendar_container div:first-of-type {
    border: 2px solid black;
    height: 400px;
}

.summary {
    font-size: 1.6rem;
}

.summary p {
    text-align: center;
}