.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.container h1 {
    margin-bottom: 15px;
}

.container form {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 10px auto;
    gap: 12px;
    box-shadow: -1px 1px 10px 8px rgba(0, 0, 0, 0.075);
    border-radius: 8px;
}

.container form p {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container form p label {
    font-size: 1.6rem;
}

.container .select_tenant {
    background: none;
    width: 200px;
    border: 2px solid var(--orange);
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
}

.container .select_tenant:hover {
    border: 2px solid rgb(250, 154, 11);
}

.container form p input, 
.container form p textarea, 
.container form p select {
    background-color: rgba(35, 35, 35, 0.048);
    border: 1.5px solid rgba(43, 43, 43, 0.384);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.date_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 12px;
}

.container button {
    align-self: flex-end;
}

.container a {
    display: flex;
    align-self: flex-start;
    color: var(--orange);
    cursor: pointer;
    transition: .3s;
    align-items: center;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.container a:hover {
    transform: scale(1.05);
}